
/* ====  Components/Nav/style.css  ==== */

.navbar {
  border-radius: 0;
  background-color: rgb(0, 23, 52);
}
.navbar .navbar-brand {
  color: #fcb232;
}
.bookLogo {
  width: 41px;
  margin-right: 8px;
  margin-left: 25px;
}

.navbar-brand {
  font-size: 23px;
}

.nav-item {
  font-size: 19px;
}